html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Hello Pug
    body
        include ./header.pug
        main
            h2.title About me, the King of Pugs
            img(src=img)
            p.paragraph I was born in Down town LA, my Mum was a stray pug, coming and going from different shelters, I haven't met my Dad. After being lost for a couple of years I decided I had to stop all this nonsense, that's why I decided to create Pug Enterprise, a non-profit organisation to help other pugs find themselves.
            img(src=img2)
        include ./footer.pug
        script(src="script.js")