html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Hello Pug
    body
        include ./header.pug
        main
            h2.title Reach Out to Me!
            ul.contac-ul 
              li.contact Email: straypug@gmail.com
              li.contact Phone: +44 666 666 666
              li.contact Instagram: @PugNHappy
            img(src=img)
        include ./footer.pug
        script(src="script.js")