
nav.navBar
      a.link(href='/pug/home') Home
      a.link(href='/pug/about') About
      a.link(href='/pug/contact') Contact
      a.link(href='/pug/location') Location
      a.link(href='/pug/mission') Mission