html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Hello Pug
    body
        include ./header.pug
        main
            h3.title Welcome pugLovers
            img(src=img)
            p.paragraph Hello, if you are here it is because you want to take care of all my pugcities, feed me, take me for a walk and buy me everything I want
        include ./footer.pug
        script(src="script.js")