doctype html
html   
   head
      title Hello Pug
   body
      include ./header.pug
      h1 You can find me here:
      p.greetings#people Stroke St 666
      img(src=img)
      p Send a letter and some food!
      include ./footer.pug
      script(src="script.js")