doctype html
html   
   head
      link(rel="stylesheet", href="style.css")
      title Hello Pug
   body
      include ./header.pug
      h1 My Mission as a Pug:
      p.mission EAT!EAT!EAT!
      img(src=img2)
      p.paragraph I help other pugs become a better self. I started from the bottom, now I'm here, it's our motto. This is a save space, we won't judge if you have eaten from the rubbish, have pee loses or you have a yeast infection. We'll help you.
      include ./footer.pug
      script(src="script.js")